.item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f9f6f6f3;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 8px 5px rgba(12, 4, 35, 0.1);
}
.avatar {
}
.name {
  font-size: 20px;
}
