.statictics {
}
.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.statList {
  display: flex;
}
.item {
  padding: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.label {
  font-size: 12px;
  color: #e2e2e2;
}
.percentage {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
